.nav-bar-container{
    position: fixed;
    right: 0;
    width: 380px;
    height: 100vh;
    min-height: 700px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(7.5px);
    .nav-bar-top{
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;
    }
    .nav-bar-top-search-container{
        display: flex;
        align-items: flex-end;
        padding: 0 20px;
        box-sizing: border-box;
        width: 75%;
        height: 100%;
        input{
            background: none;
            width: 100%;
            height: 50px;
            border: none;
            border-bottom: 2px solid #fff;
            color: #fff;
            outline: none;
            font-size: 20px;
        }
    }
    button{
        background-color: #7D9994;
        border: none;
        min-width: 100px;
        height: 100px;
        color: #fff;
        cursor: pointer;
        svg{
            font-size: 45px;
        }
    }
}
.toggle-nav-bar-container{
    z-index: 1;
    display: none;
    position: absolute;
    right: 0;
    .toogle-nav-bar-open{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100px;
        background-color: #7D9994;
        cursor: pointer;
        svg{
            font-size: 50px;
        }
    }
    
}

@media screen and (max-width: 920px) {
    .toggle-nav-bar-container{
        display: block;
    }
    .nav-bar-container{
        display: none;
    }
}