.home-container{
     position: fixed;
     overflow: auto;
     width: 100%;
     height: 100vh;
     background-size: cover;
     background-repeat: no-repeat;
     transition: 0.3s ease;
     .home{
          z-index: 0;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          position: absolute;
          padding: 20px;
          box-sizing: border-box;
          right: 380px;
          width: -webkit-fill-available;
          height: 100%;
     }
     .home-top-container{
          display: flex;
          align-items: center;
          width: 100%;
          height: 40px;
          font-size: 40px;
          span{
               cursor: pointer;
          }
     }
     .home-bottom-container{
          padding: 0 3vw;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          width: 100%;
          h1{
               font-size: 10vw;
               font-weight: 500;
          }
          div{
               display: flex;
               flex-direction: column;
               justify-content: center;
               width: -webkit-fill-available;
               height: 100%;
               margin-left: 2vw;
          }
          h2{
               font-weight: 400;
               font-size: 6vw;
               margin-bottom: -15px;
          }
          span{
               font-size: 2vw;
          }
     }
}

@media screen and (max-width: 920px) {
     .home-container{
          .home{
               right: 0;
          }
          .home-bottom-container{
               padding: 0;
               h1{
                    font-size: 12vw;
               }
               h2{
                    font-size: 9vw;
                    margin-bottom: -5px;
               }
               span{
                    font-size: 3vw;
               }
          }
     }
 }